<div class="colophon js-colophon -text--center">
    <div class="valigner">
        <div class="valigner__cell">
            <p class="colophon__about js-colophons js-colophon-about">
In conjunction with Familiar Issue 5, Rivals is a fashion editorial channeling the emotion of rivalry in modern sport. Set in the streets of a nameless city, two rivals circle before an inevitable clash. For you or against you, it isn't always black and white.
            </p>
            <ul class="colophon__links">
                <div class="colophon__link -text--left">
                    <a href="http://weareinstrument.com" target="_blank" class="colophon__links__link link--external">Instrument</a> x <a href="http://itsfamiliar.com" target="_blank" class="colophon__links__link link--external">Familiar</a>
                </div>
                <div class="colophon__link -text--center">
                    <a href="#" class="colophon__links__link js-colophon-close">Close</a>
                </div>
                <div class="colophon__link -text--right">
                    <a href="http://itsfamiliar.com/products/issue-05/" target="_blank" class="colophon__links__link link--external">Issue 05</a>
                </div>
            </ul>
        </div>
    </div>
</div>