<div class="index js-index">
    <div class="index__slides js-index-slides">
        <div class="valigner">
            <div class="valigner__cell">
                <ul class="index__slider js-index-slider"></ul>
            </div>
        </div>
    </div>
    <div class="index__title -text--center">
        <h2 class="index__rivals js-rivals-link">Rivals</h2>
    </div>
    <ul class="index__links -text--center">
        <li class="index__links__item">
            <a href="#" class="index__links__link js-colophon-open">About</a>
        </li>
    </ul>
</div>