<div class="mast mast--upper js-mast is-inactive -text--center">
    <div class="valigner">
        <div class="valigner__cell">
            <div class="mast__link js-index-link">Index</div>
        </div>
    </div>
</div>
<div class="mast mast--lower js-mast is-inactive -text--center">
    <div class="mast__line js-mast-colophon"></div>
</div>