<ul class="slides js-slides">
<%# Intro %>
    <li class="slides__item intro is-visible -text--center js-intro js-slide" data-src="images/mobile-title.jpg">
        <video class="intro__video video js-video js-video--bleed js-video--intro" data-src="video/intro.mp4|video/intro.webm" data-id="intro" data-index="v1" loop></video>
        <%= partial "partials/loader" %>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--split js-image" data-src="images/slide1.jpg" data-index="1">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
<strong>Dominique</strong><br />
Vest - Fingers Crossed<br />
Leather Jacket - ODD<br />
Gloves - Nike<br />
Shorts, Tie around waist - ODD<br />
White shorts - Adidas<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image image--split js-image" data-src="images/slide2.jpg" data-index="2">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Leather Button Up - General Idea<br />
Shirt - HBA<br />
Shorts - Y-3<br />
Socks - Nike<br />
Black Garter Socks - Tableaux Vivants<br />
Shoes - Adidas<br />
Gloves - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide3.jpg" data-index="3">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p class="image__credits__split">
Dominique<br />
Vest - Fingers Crossed<br />
Leather Jacket - ODD<br />
Gloves - Nike<br />
Shorts, Tie around waist - ODD<br />
White Shorts - Adidas<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                        <p class="image__credits__split">
Marley<br />
Shirt - Machus<br />
Jumper - Opening Ceremony<br />
Skirt - General Idea<br />
Shorts - Y-3<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide4.jpg" data-index="4">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Leather Button up - General Idea<br />
Shirt - HBA<br />
Shorts - Y-3<br />
Socks - Nike<br />
Black Garter Socks - Tableaux Vivants<br />
Shoes - Adidas<br />
Gloves - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item slides__item--tall js-slide">
        <div class="image image--tall js-image" data-src="images/slide5.jpg" data-index="5">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
Vest - Fingers Crossed<br />
Leather Jacket - ODD<br />
Gloves - Nike<br />
Shorts, Tie Around Waist - ODD<br />
White Shorts - Adidas<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide6.jpg" data-index="6"></div>
    </li>
<%# Video %>
    <li class="slides__video js-slide">
        <video class="video js-video js-video-loop js-video--bleed" data-src="video/loop1.mp4|video/loop1.webm" data-id="loop1" data-index="v2" loop></video>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide7.jpg" data-index="7">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Vest - Fingers Crossed<br />
Leather Jacket - ODD<br />
Gloves - Nike<br />
Shorts, Tie Around Waist - ODD<br />
White shorts - Adidas<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide8.jpg" data-index="8">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
Shirt - Machus<br />
Jumper - Opening Ceremony<br />
Skirt - General Idea<br />
Shorts - Y-3<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--split js-image" data-src="images/slide9.jpg" data-index="9">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Jumper - Ashish<br />
White Shirt - Rochambeau<br />
Black Shirt - Machus<br />
Gloves - Nike<br />
Shorts - General Idea<br />
Socks - Nike<br />
Shoes - Y-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image image--split js-image" data-src="images/slide10.jpg" data-index="10">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Jumper - Ashish<br />
White Shirt - Rochambeau<br />
Black Shirt - Machus<br />
Gloves - Nike<br />
Shorts - General Idea<br />
Socks - Nike<br />
Shoes - Y-3
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide11.jpg" data-index="11">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Suit, Top, Shorts, Waist Tie - ODD<br />
Undershirt - Adidas<br />
Gloves - Nike<br />
Socks - Nike<br />
Shoes and Guards - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--split js-image" data-src="images/slide12.jpg" data-index="12">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Suit, Top, Shorts, Waist Tie - ODD<br />
Undershirt - Adidas<br />
Gloves - Nike<br />
Socks - Nike<br />
Shoes and Guards - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image image--split js-image" data-src="images/slide13.jpg" data-index="13">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Leather Button up - General Idea<br />
Shirt - HBA<br />
Shorts - Y-3<br />
Socks - Nike<br />
Black Garter Socks - Tableaux Vivants<br />
Shoes - Adidas<br />
Gloves - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Video %>
    <li class="slides__video js-slide">
        <video class="video js-video js-video-loop js-video--bleed" data-src="video/loop2.mp4|video/loop2.webm" data-id="loop2" data-index="v3" loop></video>
    </li>
<%# Slide %>
    <li class="slides__item slides__item--tall js-slide">
        <div class="image image--tall js-image" data-src="images/slide14.jpg" data-index="14">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
Hat - Fingers Crossed<br />
Leather Top - General Idea<br />
Sweater - General Idea<br />
Gloves - Nike<br />
Leather Shorts - General Idea<br />
White Leather Pants - Rochambeau<br />
Shoes - Adidas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide15.jpg" data-index="15">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p class="image__credits__split">
Dominique<br />
Shirt - Machus<br />
Jumper - Opening Ceremony<br />
Skirt - General Idea<br />
Shorts - Y-3<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                        <p class="image__credits__split">
Marley<br />
Hat - Fingers Crossed<br />
Leather Top - General Idea<br />
Sweater - General Idea<br />
Gloves - Nike<br />
Leather Shorts - General Idea<br />
White Leather Pants - Rochambeau<br />
Shoes - Adidas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide16.jpg" data-index="16">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
Hat - Fingers Crossed<br />
Leather Top - General Idea<br />
Sweater - General Idea<br />
Gloves - Nike<br />
Leather Shorts - General Idea<br />
White Leather Pants - Rochambeau<br />
Shoes - Adidas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item slides__item--tall js-slide">
        <div class="image image--tall js-image" data-src="images/slide17.jpg" data-index="17">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Black shirt - Machus<br />
White shirt - Rochambeau<br />
Gloves - Nike<br />
Leathercap - Martin Keehn<br />
Shorts - Y-3<br />
Socks - Nike<br />
Black Garter Socks - Tableaux Vivants<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--split js-image" data-src="images/slide18.jpg" data-index="18">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
Shirt - Machus<br />
Jumper - Opening Ceremony<br />
Skirt - General Idea<br />
Shorts - Y-3<br />
Socks - Adidas<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image image--split js-image" data-src="images/slide19.jpg" data-index="19">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Black shirt - Machus<br />
White shirt - Rochambeau<br />
Gloves - Nike<br />
Leathercap -  Martin Keehn<br />
Shorts - Y-3<br />
Socks - Nike<br />
Black Garter Socks - Tableaux Vivants<br />
Shoes - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item slides__item--tall js-slide">
        <div class="image image--tall js-image" data-src="images/slide20.jpg" data-index="20">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Dominique<br />
White shirt - Nike<br />
Clear Vest - ODD<br />
Hat - Martin Keehn<br />
Shorts - Nike<br />
Jumpsuit - Y-3<br />
Gloves - Nike<br />
Shoes - Adidas<br />
Ball - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Video %>
    <li class="slides__video js-slide">
        <video class="video js-video js-video-loop js-video--bleed" data-src="video/loop3.mp4|video/loop3.webm" data-id="loop3" data-index="v4" loop></video>
    </li>
<%# Slide %>
    <li class="slides__item slides__item--tall js-slide">
        <div class="image image--tall js-image" data-src="images/slide21.jpg" data-index="21">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p>
Marley<br />
Suit, Top, Shorts, Waist Tie - ODD<br />
Undershirt - Adidas<br />
Gloves - Nike<br />
Socks - Nike<br />
Shoes and Guards - Nike
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide22.jpg" data-index="22">
            <div class="image__credits js-credits">
                <div class="valigner">
                    <div class="valigner__cell">
                        <p class="image__credits__split">
Marley<br />
Suit, Top, Shorts, Waist Tie - ODD<br />
Undershirt - Adidas<br />
Gloves - Nike<br />
Socks - Nike<br />
Shoes and Guards - Nike
                        </p>
                        <p class="image__credits__split">
Dominique<br />
Hat - Fingers Crossed<br />
Leather Top - General Idea<br />
Sweater - General Idea<br />
Gloves - Nike<br />
Leather Shorts - General Idea<br />
White Leather Pants - Rochambeau<br />
Shoes - Adidas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
<%# Video %>
    <li class="slides__video js-slide">
        <video class="video js-video js-video-loop js-video--bleed" data-src="video/loop4.mp4|video/loop4.webm" data-id="loop4" data-index="v5" loop></video>
    </li>
<%# Slide %>
    <li class="slides__item js-slide">
        <div class="image image--cover js-image" data-src="images/slide23.jpg" data-index="23"></div>
    </li>
<%# Outro %>
    <li class="slides__item outro -text--center js-outro js-slide">
        <div class="valigner">
            <div class="valigner__cell">
                <div class="outro__outros js-outros">
                    <div class="outro__leads">
                        <a href="http://itsfamiliar.com" target="_blank" class="outro__line outro__line--familiar">
                            <img src="images/familiar.svg" alt="Familiar" width="98" />
                        </a>
                        <img src="images/x.svg" alt="x" width="12" class="outro__line outro__line--x" />
                        <a href="http://weareinstrument.com" target="_blank" class="outro__line outro__line--instrument">
                            <img src="images/instrument.svg" alt="Instrument" width="120" />
                        </a>
                    </div>
                    <p class="outro__punks">
Photography by <a href="http://itsfamiliar.com/" target="_blank">Tyler Kohlhoff</a> / Styling by <a href="http://lanajaylackey.com/" target="_blank">Lana Jay Lackey</a><br />
DP - <a href="http://hannahgregg.com/" target="_blank">Hannah Gregg</a> / Hair &amp; Makeup by <a href="http://danawillcutyou.com/" target="_blank">Dana Boyer</a><br />
Site by Justin Gorman, Brandon Kitajchuk and Jordan Sowers<br />
Produced by Paul Welch / 2014
                    </p>
                </div>
            </div>
        </div>
    </li>
</ul>